@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Nunito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}
